.pages
{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 40px auto;
    max-width: 400px;
}
.page
{
    margin: 3px;
    cursor: pointer;
    user-select: none;
}
.page:hover
{
    scale: 1.1;
}
.page_active
{
    scale: 1.1;
    color: red
}